extends layout

block content
  h1= title
  - let items = results 
  div(class="container-fluid")
    div(class="row")
      each item,index in items
        div(class="col-sm-2",onClick=`buy(${index})`)
          p Name is #{item.Queen_name}
          p age is #{item.Queen_age}
          p height is #{item.Queen_height}
  script.
    function buy(inn){
      inn=inn+1;
      alert("You Purchased Item" +inn);
    }